.navdiv
{
  position: absolute;
  border: 5px solid grey;
  width: 200px;
  height: 45px;
}
.input
{
  border: 2px solid beige;
}
.addbutton
{
  background-color: blue;
}

.lowerdiv
{
  height: 660px;
border: 1px solid yellow;
}
.headerbox
{
  height: 70px;
  width: 1100px;
  margin-left: 200px;

  background: 40px solid;
  display: inline-block;
  border: 5px solid brown;
}
.chatbox
{
  height: 665px;
  width: 1320px;
  margin-left: 200px;
  float: left;
  background: 40px solid;
  display: inline-block;
  border: 1px solid pink;
}


.chatheader
{
  width: 1302px;
  height: 45px;
  margin-left: 205px;
  float: left;
  background: 40px solid;
  display: inline-block;
  border: 1px solid green;
}
